@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Lexend;
}
::-webkit-scrollbar{
    width: 1.0vw;
    height: 1.0vw;
}
::-webkit-scrollbar-track{
    border-radius: 1000px;
    background: none;
}
::-webkit-scrollbar-thumb{
    border-radius: 1000px;
    background-color:rgb(90, 90, 90);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(63, 63, 63);
}
body{
    transition: 0.7s;
}
.header{
    width: 100vw;
    height: 15vh;
    background-color: red;
    color: rgb(3, 0, 56);
    text-align: center;
    position: sticky;
}
.header img{
    position: fixed;
    top: 2.5vh;
    right: 30vw;
    left: 30vw;
    height: 9vh;
    width: 40vw;
    padding-bottom: 1vh;
    border-bottom: white solid 0.5vh;
    transition: 0.5s;
    opacity: 1;
}
.header #loginLink{
    float: right;
    padding: 2vh;
    margin-top: 3vh;
    margin-right: 2vw;
    font-size: 1.4em;
    color: #211c1c;
    font-weight: 700;
    border: none;
    text-decoration: underline;
    transition: 0.75s;
    opacity: 1;
}
.header #loginLink:hover{
    border-radius: 2vh;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    border: rgb(232, 232, 232) outset 0.1vh;
}
.leftsidenav {
    max-height: 100vh;
    height: 98vh;
    width: 0;
    position: fixed;
    z-index: 10;
    background-color: #e2dddd;
    overflow-x: hidden;
    transition: 0.6s;
    padding-top: 2vh;
}
.leftsidenav a {
  text-align: left;
  padding: 20px 8px 8px 8px;
  text-decoration: none;
  font-size: 2.5vw;
  color: black;
  display: block;
  transition: 0.5s;
}
.leftsidenav div {
    margin-top: 10vh;
}
.leftsidenav a:hover  {
    color: #ee0000;
    cursor: pointer;
}
.menu-btn {
    width: 3.5vw;
    height: 5vh;
    cursor: pointer;
    transition: all 1s ease-in-out;
    position: fixed;
    top: 2.5vh;
    left: 1.5vw;
    z-index: 11;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-btn__burger {
    width: 3.5vw;
    height: 0.65vh;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 3.5vw;
    height: 0.65vh;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translate(-1.7vw, -2vh);
  }
  .menu-btn__burger::after {
    transform: translate(-1.7vw, 2vh);
  }
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-4vw);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(15px, -15px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(15px, 15px);
  }
  #historyTab{
    width: 100%;
    color: rgb(17, 17, 17);
    position: relative;
    text-align: left;
    font-size: 1.6vw;
    font-weight: 600;
    border-radius: 1.5vw;
    max-height: 56.25vh;
    overflow-x: hidden;
    overflow-y:auto;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    background-color: red;
  }
#historyTab:-webkit-scrollbar{
  width: 0.1vw;
  height: 0.1vw;
}
#historyTab::-webkit-scrollbar-track{
  border-radius: 1000px;
  background: none;
}
#historyTab::-webkit-scrollbar-thumb{
  border-radius: 1000px;
  background-color:rgb(51, 41, 41);
}
#historyTab::-webkit-scrollbar-thumb:hover {
  background-color: rgb(138, 3, 3);
}
  #historyTab img{
    position: absolute;
    top: 1vh;
    left: 40%;
    right: 40%;
    border: none;
    margin-bottom: 0;
    width: 22%;
    min-width: 50px;
    height: 17.5%;
    max-height: 50px;
  }
.slider{
    width: 800px;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
  }
  .slides{
    width: 500%;
    max-height: 90vh;
    display: flex;
    position: relative;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 20%;
    transition: 2s;
    margin: auto 0.5vw;
  }
.navigation-manual{
  position: absolute;
  width: 20%;
  bottom: -11vh;
  left: 10vw;
  display: flex;
  justify-content: center;
}
.manual-btn{
  background: rgb(32, 45, 49);
  border: 2px solid rgb(32, 45, 49);
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background: rgb(47, 82, 92);
}
#radio1:checked ~ .first{
  margin-left: 0.5%;
}
#radio2:checked ~ .first{
  margin-left: -20.5%;
}
#radio3:checked ~ .first{
  margin-left: -41.475%;
}
#radio4:checked ~ .first{
  margin-left: -62.45%;
}
.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}
.navigation-auto div{
  border: 2px solid rgb(56, 74, 80);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
  background: rgb(146, 0, 0);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background: rgb(146, 0, 0);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background: rgb(146, 0, 0);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
  background: rgb(146, 0, 0);
}
.bodyDiv{
  background-color: #222;
  height: 85vh;
  width: 100vw;
}
.bodyDivMain{
  background-image: url('https://www.teslarati.com/wp-content/uploads/2019/08/tesla-gigafactory-4-europe.jpg');
  background-size: 100vw 85vh;
  height: 85vh;
  width: 100vw;
  z-index: 1;
}
#cadastro2{
  display: none;
}
.overform{
  overflow-x: hidden;
  max-height: 75vh;
  width: 40vw;
}
.overform h1{
  position: sticky;
  top: 1vh;
  background-color: #222;
}
.box-formCadastro{
  width: 35vw;
  height: fit-content;
  overflow: auto;
  position: absolute;
  top: 57.5vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  text-align: center;
  border-radius: 1vw;
  font-family: Quicksand;
  font-size: 1.5vw;
}
.btnsEdit{
  display: flex;
}
#btnCancel, #btnSave{
  display: none;
}
.box-formCadastro input::placeholder{
  color: #fff;
  opacity: 0.75;
}
.box-formCadastro h1{
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  position: sticky;
  width: fit-content;
  margin: auto;
  z-index: 10;
  background: none;
}
.box-formCadastro .classCadastro{
  border: 0;
  background: none;
  display: block;
  margin: 25px auto;
  text-align: center;
  border: 2px solid #000000;
  padding: 1.4vw 1vw;
  width: 24vw;
  outline: none;
  color: white;
  border-radius: 2vw;
  transition: 0.4s;
}
.box-formCadastro .classCadastro:focus{
  width: 31vw;
  border-color: white;
}
.classCadastroError{
  border: 0;
  background: none;
  display: block;
  margin: 25px auto;
  text-align: center;
  border: 2px solid red;
  padding: 1.4vw 1vw;
  width: 24vw;
  outline: none;
  color: red;
  border-radius: 2vw;
  transition: 0.25s;
}
.box-formCadastro :is(#btnSubmit, .btnSubmit), .btnsEdit button{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ff0000;
  padding: 1.4vw 4vw;
  outline: none;
  color: white;
  border-radius: 2vw;
  transition: 0.5s;
  cursor: pointer;
}
:is(.box-formCadastro :is(#btnSubmit, .btnSubmit), .btnsEdit button):hover{
  background: #ff0000;
  border-color: black;
}
.btnsEdit a {
  position: relative;
  text-decoration: none;
  top: 1vh;
  height: 100%;
  width: 17%;
}
.box-formCadastro a{
  font-size: 1.2vw;
  text-align: center;
  margin-top: 2vh;
  background: none;
  text-decoration: underline;
  color: azure; 
  font-weight: 300;
  transition: 0.5s;
}
.box-formCadastro a:hover{
  font-size: 1.25vw;
  text-align: center;
  margin-top: 2vh;
  background: none;
  text-decoration: underline;
  color: rgb(255, 203, 203); 
  font-weight: 400;
}
.divHeadOptions{
  width: 100%;
  height: 20%;
  margin: 0;
}
.divHeadOptions :is(h1, h3){
  color: azure;
  width: fit-content;
  margin: auto;
  text-transform: uppercase;
}
.divHeadOptions h1{
  font-size: 3vw;
}
.divHeadOptions h3{
  font-size: 1.5vw;
  font-weight: 200;
  margin: 1vh auto;
}
.divOptions button{
  width: 40%;
  height: 45%;
  cursor: pointer;
  text-align: center;
  border: none;
  font-weight: 600;
  border-radius: 2.5vh;
  font-size: 2vw;
  color: #000000;
  background-color: #c20000;
}
.divOptions button:hover{
  color: white;
}
#logOutBtn{
  font-size: 2vw;
  font-weight: 600;
  color: red;
  background-color: rgb(51, 46, 46);
  border: solid 0.25vh black;
}
#logOutBtn:hover{
  background-color: #9e9e9e;
  border: solid 0.5vh black;
}
.divOptions h4{
  max-width: 55%;
  color: white;
  font-variant: small-caps;
  font-weight: 400;
  font-size: 1.6vw;
  margin-top: -10vh;
  text-align: center;
}
.frasesDiv{
  width: 50%;
  height: 80%;
  float: left;
  display: grid;
  place-items: center;
  font-family: 'Cormorant Garamond';
  color: azure;
}
.frasesDiv p{
  width: 75%;
  text-align: center;
  margin-top: 10vh;
}
.frasesDiv h4{
  text-align: center;
  margin-top: -15vh;
  font-variant: small-caps;
  line-height: 5vh;
  border-top: #fff 0.1vh solid;
}
.frasesDivHead{
  width: 100%;
  height: 20%;
  text-transform: uppercase;
  color: azure;
  margin: 0;
  display: grid;
  place-items: center;
  padding: 15vh auto;
}
.frasesDivHead h1{
  width: fit-content;
  font-size: 3.25vw;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  padding: 15vh auto;
}
.frasesDivHead h3{
  font-size: 1.65vw;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  padding: 15vh auto;
}
.contatoHead{
  color: azure;
  text-align: center;
  width: 100%;
  height: 15%;
  padding-top: 5vh;
}
.contatoHead :is(h1, h3){
  width: fit-content;
  margin: auto;
  text-transform: uppercase;
}
.contatoHead h3 {
  margin-top: 2.5vh;
}
.contatoBodyL, .contatoBodyR, .sobreBodyL, .sobreBodyR{
  width: 50%;
  height: 79%;
  display: grid;
  place-items: center;
  float: left;
  color: #fff;
}
.linkSobreA{
  width: 75%;
  height: fit-content;
  padding: 2vh;
  font-size: 1.6vw;
  color: #c20000;
  font-variant: small-caps;
  text-align: center;
}
.linkSobreA:hover{
  color: #ff0000;
}
.divEmail{
  align-items: center;
  margin-top: -20vh;
  font-size: 2vw;
}
.divEmail div{
  text-align: center;
  font-size: 2.5vw;
  width: fit-content;
  margin: auto;
}
.contatoBodyL img{
  height: 12.5vh;
  width: 17.5vh;
  float: left;
  margin-left: 4.5vw;
}
.contatoBodyR img{
  height: 12.5vh;
  width: 17.5vh;
  float: left;
  margin-left: 1.5vw;
}
:is(.contatoBodyL, .contatoBodyR) h3{
  max-width: 40vw;
  margin: -20vh auto;
  font-size: 2.5vw;
  text-align: center;
  width: fit-content;
  margin: auto;
}
.headSobre{
  text-align: center;
  color: azure;
  width: fit-content;
  margin: auto;
  padding-top: 5vh;
}
.sobreBodyL img{
  height: 70%;
  width: 60%;
}
.sobreBodyR div{
  margin: auto;
  height: fit-content;
  width: 80%;
  font-size: 2vw;
  font-variant: small-caps;
  line-height: 6.5vh;
}
.sobreBodyR a{
  color: white;
  text-decoration: none;
}
.sobreBodyR a:hover{
  color: rgb(225, 224, 224);
  text-decoration: underline;
}
.motivoHead{
  color: azure;
  text-align: center;
  width: 100%;
  height: 20%;
  padding: 2vh;
}
.motivoHead :is(h1, h3){
  width: fit-content;
  font-size: 3.5vw;
  margin: auto;font-variant: small-caps;
}
.motivoHead h3 {
  margin-top: 2.5vh;
}
.motivoBody{
  margin: 0vh auto 15vh auto;
  width: 100%;
  height: 50%;
}
.motivoBodyTxt{
  width: 40%;
  height: fit-content;
  margin: auto 5%;
  float: left;
  color: azure;
  font-size: 1.65vw;
  align-items: center;
  font-variant: small-caps;
  line-height: 5vh;
}
.motivoBodyImg{
  width: 50%;
  height: fit-content;
  float: left;
  display: grid;
  margin: 5vh auto auto auto;
  place-content: center;
  align-items: center;
  place-items: center;
}
.bodyDivMotive .motivoBodyImg img{
  width: 35vw;
  height: 35vh;
  display: block;
}
.bodyDivMotive{
  background-color: #222;
  height: 85vh;
  width: 100vw;
  overflow-x: hidden;
}
.btnLogOut{
  width: 100%;
  height: 10%;
  display: grid;
  place-items: center;
}
.linkCarTesla{
  width: 50%;
  height: 50%;
  margin: -10vh auto;
}
.linkCarTesla img{
  width: 80%;
  margin: -3vh -7.5vw auto auto;
  height: 400%;
  display: grid;
  place-items: center;
}
#linkTesla img{
  width: 55%;
  height: 400%;
  margin: -5vh auto auto -7.5vw;
}
.linkCarTesla:hover{
  filter: brightness(2);
}
.divOptions{
  width: 50%;
  height: 70%;
  display: grid;
  place-items: center;
  float: left;
  padding-top: 3vh;
}
#cyberTruckBack {
  background-image: url('https://www.teahub.io/photos/full/25-257580_tesla-cybertruck.jpg');
  background-size: cover;
}
#modelSBack {
  background-image: url('https://wallpaperaccess.com/full/486595.jpg');
  background-size: cover;
}
#model3Back {
  background-image: url('https://www.hdcarwallpapers.com/walls/2018_tesla_model_3_4k_3-HD.jpg');
  background-size: cover;
}
#modelXBack {
  background-image: url('https://www.pixel4k.com/wp-content/uploads/2019/06/tesla-model-x-front_1559764594.jpg');
  background-size: cover;
}
#modelYBack {
  background-image: url('https://wallpapercave.com/wp/wp4050218.jpg');
  background-size: cover;
}
#semiBack {
  background-image: url('https://wallpapercave.com/wp/wp4859419.jpg');
  background-size: cover;
}
#roadsterBack {
  background-image: url('https://i.pinimg.com/originals/36/24/c3/3624c36c725092a243f0e33e990b7030.jpg');
  background-size: cover;
}
.carHead, .carDesc {
  font-variant: small-caps;
  width: 100%;
  height: 13%;
  display: grid;
  place-content: center;
  text-align: center;
  color: #222;
  font-size: 4vw;
  font-weight: 900;
  font-family: Bitter;
}
.carDesc {
  font-size: 2.5vw;
}
.carDiv{
  font-variant: small-caps;
  width: 90%;
  height: 12%;
  font-size: 2vw;
  color: black;
  font-weight: 300;
  font-family: Bitter;
}
.left {
  text-align: left;
  padding-left: 5vw;
  font-family: Bitter;
}
.right {
  text-align: right;
  padding-right: 5vw;
  font-family: Bitter;
}
.white {
  color: white;
}
.gray {
  background-color: rgba(109, 109, 109, 0.3);
  color: white;
}
.carDiv :is(h4, h2){
  display: inline;
}
.rankDiv{
  height: 70vh;
  background-color: #333;
}
.rankplacesHead{
  height: 10%;
}
.rankplacesHead h1{
  padding-top: 1vh;
  font-variant: small-caps;
  font-weight: 300;
  font-family: Bitter;
}
.rankplaces{
  width: 100%;
  height: 12.6%;
  border-top: solid white 0.1px;
  background-color: black;
}
.colocação {
  text-align: left;
  height: 100%;
  display: grid;
  place-content: center;
  margin-left: 1vh;
  width: fit-content;
  font-variant: small-caps;
  font-weight: 300;
  font-family: Bitter;
  font-size: 3.5vw;
  color: azure;
  float: left;
}
.pontuação {
  text-align: right;
  height: 100%;
  display: grid;
  place-content: center;
  margin-right: 1vh;
  width: fit-content;
  font-variant: small-caps;
  font-weight: 300;
  font-family: Bitter;
  font-size: 3.5vw;
  color: azure;
  float: right;
  background-color: rgba(39, 39, 39, 0.255);
}
.places{
  display: grid;
  height: 100%;
  place-content: center;
  width: fit-content;
  margin: auto;
}
#firstLink, #secondLink, #thirdLink, #fourthLink, #fifthLink, #sixthLink, #seventhLink{
  text-decoration: none;
  width: fit-content;
  margin: auto;
  font-variant: small-caps;
  font-weight: 600;
  font-family: Bitter;
  font-size: 3vw;
  color: red;
}
:is(#firstLink, #secondLink, #thirdLink, #fourthLink, #fifthLink, #sixthLink, #seventhLink):hover{
  text-decoration: underline;
  color: white;
}