@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Lexend;
}
::-webkit-scrollbar{
    width: 1.0vw;
    height: 1.0vw;
}
::-webkit-scrollbar-track{
    border-radius: 1000px;
    background: none;
}
::-webkit-scrollbar-thumb{
    border-radius: 1000px;
    background-color:rgb(90, 90, 90);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(63, 63, 63);
}
body{
    transition: 0.7s;
}
.header{
    width: 100vw;
    height: 15vh;
    background-color: red;
    color: rgb(3, 0, 56);
    text-align: center;
    position: sticky;
}
.header img{
    position: fixed;
    top: 2.5vh;
    right: 30vw;
    left: 30vw;
    height: 9vh;
    width: 40vw;
    padding-bottom: 1vh;
    border-bottom: white solid 0.5vh;
    transition: 0.5s;
    opacity: 1;
}
.header #loginLink{
    float: right;
    padding: 2vh;
    margin-top: 3vh;
    margin-right: 2vw;
    font-size: 1.4em;
    color: #211c1c;
    font-weight: 700;
    border: none;
    text-decoration: underline;
    transition: 0.75s;
    opacity: 1;
}
.header #loginLink:hover{
    border-radius: 2vh;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    border: rgb(232, 232, 232) outset 0.1vh;
}
.leftsidenav {
    max-height: 100vh;
    height: 98vh;
    width: 0;
    position: fixed;
    z-index: 10;
    background-color: #e2dddd;
    overflow-x: hidden;
    transition: 0.6s;
    padding-top: 2vh;
}
.leftsidenav a {
  text-align: left;
  padding: 20px 8px 8px 8px;
  text-decoration: none;
  font-size: 2.5vw;
  color: black;
  display: block;
  transition: 0.5s;
}
.leftsidenav div {
    margin-top: 10vh;
}
.leftsidenav a:hover  {
    color: #ee0000;
    cursor: pointer;
}
.menu-btn {
    width: 3.5vw;
    height: 5vh;
    cursor: pointer;
    transition: all 1s ease-in-out;
    position: fixed;
    top: 2.5vh;
    left: 1.5vw;
    z-index: 11;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-btn__burger {
    width: 3.5vw;
    height: 0.65vh;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 3.5vw;
    height: 0.65vh;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translate(-1.7vw, -2vh);
  }
  .menu-btn__burger::after {
    transform: translate(-1.7vw, 2vh);
  }
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-4vw);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(15px, -15px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(15px, 15px);
  }
  #historyTab{
    width: 100%;
    color: rgb(17, 17, 17);
    position: relative;
    text-align: left;
    font-size: 1.6vw;
    font-weight: 600;
    border-radius: 1.5vw;
    max-height: 56.25vh;
    overflow-x: hidden;
    overflow-y:auto;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    background-color: red;
  }
#historyTab:-webkit-scrollbar{
  width: 0.1vw;
  height: 0.1vw;
}
#historyTab::-webkit-scrollbar-track{
  border-radius: 1000px;
  background: none;
}
#historyTab::-webkit-scrollbar-thumb{
  border-radius: 1000px;
  background-color:rgb(51, 41, 41);
}
#historyTab::-webkit-scrollbar-thumb:hover {
  background-color: rgb(138, 3, 3);
}
  #historyTab img{
    position: absolute;
    top: 1vh;
    left: 40%;
    right: 40%;
    border: none;
    margin-bottom: 0;
    width: 22%;
    min-width: 50px;
    height: 17.5%;
    max-height: 50px;
  }
.slider{
    width: 800px;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
  }
  .slides{
    width: 500%;
    max-height: 90vh;
    display: flex;
    position: relative;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 20%;
    transition: 2s;
    margin: auto 0.5vw;
  }
.navigation-manual{
  position: absolute;
  width: 20%;
  bottom: -11vh;
  left: 10vw;
  display: flex;
  justify-content: center;
}
.manual-btn{
  background: rgb(32, 45, 49);
  border: 2px solid rgb(32, 45, 49);
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background: rgb(47, 82, 92);
}
#radio1:checked ~ .first{
  margin-left: 0.5%;
}
#radio2:checked ~ .first{
  margin-left: -20.5%;
}
#radio3:checked ~ .first{
  margin-left: -41.475%;
}
#radio4:checked ~ .first{
  margin-left: -62.45%;
}
.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}
.navigation-auto div{
  border: 2px solid rgb(56, 74, 80);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
  background: rgb(146, 0, 0);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background: rgb(146, 0, 0);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background: rgb(146, 0, 0);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
  background: rgb(146, 0, 0);
}
.bodyDiv{
  background-color: #222;
  height: 85vh;
  width: 100vw;
}
.bodyDivMain{
  background-image: url('https://www.teslarati.com/wp-content/uploads/2019/08/tesla-gigafactory-4-europe.jpg');
  background-size: 100vw 85vh;
  height: 85vh;
  width: 100vw;
  z-index: 1;
}
.box-formCadastro{
  width: 35vw;
  height: fit-content;
  overflow: auto;
  position: absolute;
  top: 57.5vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  text-align: center;
  border-radius: 1vw;
  font-family: Quicksand;
}
.box-formCadastro input::placeholder{
  color: #fff;
  opacity: 0.75;
}
.box-formCadastro h1{
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  position: sticky;
  width: fit-content;
  margin: auto;
  z-index: 10;
  background: none;
}
.box-formCadastro .classCadastro{
  border: 0;
  background: none;
  display: block;
  margin: 25px auto;
  text-align: center;
  border: 2px solid #000000;
  padding: 1.4vw 1vw;
  width: 24vw;
  outline: none;
  color: white;
  border-radius: 2vw;
  transition: 0.4s;
}
.box-formCadastro .classCadastro:focus{
  width: 32vw;
  border-color: white;
}
.classCadastroError{
  border: 0;
  background: none;
  display: block;
  margin: 25px auto;
  text-align: center;
  border: 2px solid red;
  padding: 1.4vw 1vw;
  width: 24vw;
  outline: none;
  color: red;
  border-radius: 2vw;
  transition: 0.25s;
}
.box-formCadastro #btnSubmit{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ff0000;
  padding: 1.4vw 4vw;
  outline: none;
  color: white;
  border-radius: 2vw;
  transition: 0.5s;
  cursor: pointer;
}
.box-formCadastro #btnSubmit:hover{
  background: #ff0000;
  border-color: black;
}
.box-formCadastro a{
  font-size: 1.2vw;
  text-align: center;
  margin-top: 2vh;
  background: none;
  text-decoration: underline;
  color: azure; 
  font-weight: 300;
  transition: 0.5s;
}
.box-formCadastro a:hover{
  font-size: 1.25vw;
  text-align: center;
  margin-top: 2vh;
  background: none;
  text-decoration: underline;
  color: rgb(255, 203, 203); 
  font-weight: 400;
}
.divHeadOptions{
  width: 100%;
  height: 20%;
  margin: 0;
  padding: 15vh auto;
}
.divHeadOptions :is(h1, h3){
  color: azure;
  width: fit-content;
  margin: auto;
  text-transform: uppercase;
}
.divHeadOptions h1{
  font-size: 3vw;
}
.divHeadOptions h3{
  font-size: 1.5vw;
  font-weight: 200;
  margin: 1vh auto;
}
.divOptions{
  width: 50%;
  height: 60%;
  display: grid;
  place-items: center;
  float: left;
  padding-top: 3vh;
}
.divOptions button, .btnLogOut button{
  width: 40%;
  height: 45%;
  cursor: pointer;
  text-align: center;
  border: none;
  font-weight: 600;
  border-radius: 2.5vh;
  color: #000000;
  background-color: #c20000;
}
.divOptions button:hover{
  color: white;
}
.divOptions h4{
  max-width: 55%;
  color: white;
  font-variant: small-caps;
  font-weight: 400;
  margin-top: -10vh;
  text-align: center;
}
.btnLogOut{
  width: 100%;
  height: 10%;
  display: grid;
  place-items: center;
}
.btnLogOut button{
  width: 20%;
  height: 85%;
  font-size: 1.5vw;
  font-weight: 600;
  color: red;
  background-color: rgb(51, 46, 46);
  border: solid 0.25vh black;
}
.btnLogOut button:hover{
  background-color: #9e9e9e;
  border: solid 0.5vh black;
}
.frasesDiv{
  width: 50%;
  height: 80%;
  float: left;
  display: grid;
  place-items: center;
  place-content: center;
  font-family: 'Cormorant Garamond';
  color: azure;
}
.frasesDiv p{
  width: 75%;
  text-align: center;
}
.frasesDivHead{
  width: 100%;
  height: 20%;
  text-transform: uppercase;
  color: azure;
  margin: 0;
  display: grid;
  place-items: center;
  padding: 15vh auto;
}
.frasesDivHead h1{
  width: fit-content;
  font-size: 3.25vw;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  padding: 15vh auto;
}
.frasesDivHead h3{
  font-size: 1.65vw;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  padding: 15vh auto;
}